.header{
    background-color: var(--gray-700);
    display: flex;
    justify-content: center;
    height: 200px;
    padding: 1rem 0;
    align-items: center
}

.header img {
    height: 3rem;
    width:7.5rem
  }