.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 700;
    /* align-items: flex-end; */
    width: 736px;
    height: 19px;
    margin-top: 4rem;
}
.info div {
    display: flex;
    flex-direction: row; 
}
.info div:first-child p{
    color: var(--blue);
}
.info div:last-child p{
    color: var(--purple);
} 

header div span {
    background: var(--gray-400);
    color: var(--gray-200);
    border-radius: 999px;
    padding: 2px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 25px;
    height: 19px;
    font-size: 0.75rem;
    margin-left: 0.5rem;
}